/*text styles*/

h1 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 14px;
  line-height: 19px;
}

ul {
  font-size: 14px;
  line-height: 19px;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #a44316;
}

.download {
  font-size: 12px;
}

.header {
  background-color: #4e4935;
  height: 20px;
}

.hangingindent {
    padding-left: 50px ;
    text-indent: -15px ;
}


body {
  background-color: #4e4935;
}

.row {
  margin-left: 0;
}

.container {
  background-color: #fff;
  -moz-box-shadow: 0 0 10px #2b2419;
  -webkit-box-shadow: 0 0 10px #2b2419;
  box-shadow: 0 0 10px #2b2419;
}

.logo {
  margin-top: 50px;
  padding-bottom: 8px;
}

.span5 {
  width: 360px;
}

.span7 {
  width: 520px;
}


.nav {  
  list-style: none;
  margin-top: 80px;
}

.nav a {
  color: #4e4e4e;
}

.nav .dropdown {
  float: left;
  margin-left: 32px;
  margin-top: 12px;
}

.nav .dropdown.first {
  margin-left: 60px;
}

.nav .dropdown-toggle {
    font: 13px Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.nav .dropdown a {
    text-decoration: none;
}

.nav .dropdown-toggle:hover {
  color: #7c7c7c;
}

.nav > li > a:hover {
  background-color: #fff;
}

.dropdown .caret {
  margin-top: 5px;
  margin-left: 1px;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
color: white;
text-decoration: none;
background-color: #929292;
}

.headernav {
  border-bottom: 1px solid #b3b3b3;
  -moz-box-shadow: 0px 2px 2px #e6e4e4;
  -webkit-box-shadow: 0px 2px 2px #e6e4e4;
  box-shadow: 0px 2px 2px #e6e4e4;
}

.span4 h2 {
  font: 15px Arial, sans-serif;
  color: #4e4e4e;
  padding-bottom: 12px;
}

.icon {
  display: block;
  margin-bottom: 16px;
  -moz-box-shadow: 0 0 2px #737272;
  -webkit-box-shadow: 0 0 2px #737272;
  box-shadow: 0 0 2px #737272;
}

.span4 {
  width: 250px;
  padding-left: 28px;
  margin-bottom: 80px;
  margin-top: 40px;
}


.carousel {
  margin-bottom: 0;
  position: relative;
  border-bottom: 1px solid #b3b3b3;
}

.carousel .item {
  -webkit-transition: opacity 3s ease-in-out; 
  -moz-transition: opacity 3s ease-in-out; 
  -ms-transition: opacity 3s ease-in-out; 
  -o-transition: opacity 3s ease-in-out; 
  transition: opacity 3s ease-in-out;
}
  
.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.carousel .next {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0px;
    padding-top: 190px;
    width: 20px;
    height: 200px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #b6b6b6;
    text-align: center;
    background: #b6b6b6;
    border: 0px solid #b6b6b6;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
    color: #000;
    font: 26px Arial, sans-serif;
    text-decoration: none;
  }


.carousel-control.right {
    right: 0px;
    left: auto;
  }

.carousel-control:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
  }
  
.carousel:hover .carousel-control {
  display: block;
}


.footer {
  background-color: #4e4935;
  height: 60px;
}

.copyright {
  margin: 20px 0 20px 20px;
}

.copyright p {
  font-size: 12px;
}

.sidebar {
  padding-right: 30px;
  margin-left: 30px;
}

.sidebar h2 {
  padding-bottom: 6px;
  font-weight: bold;
}

.side {
    margin-bottom: 6px;
}

.span8 {
  width: 560px;
  margin-top: 25px;
  margin-left: 35px;
}

.span8 img {
  margin: 5px 15px 8px 0;
}

.gallery {
  list-style: none;
}

.gallery img{
  float: left;
}

.bookicon {
  float: left;
  width: 125px;
  height: 193px;
  padding-bottom: 10px;
}

.book {
  clear: both;
}

.essaylink {
  font-size: 12px;
}
